.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;

}

.hero img {
    margin-top: 100px;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 600;
}

.hero h1 span {
    /* background: linear-gradient(270deg, #b92b27 10%, #1565c0 100%); */
    /* background:linear-gradient(#5349a2, #562461); */
    background: linear-gradient(#562461, #b25fc9);
    /* background: radial-gradient(#5349a2, #562461); */
    /* background: radial-gradient(#562461, #b25fc9); */
    
    /* background:linear-gradient(#5349a2, #b25fc9) ; */
    -webkit-background-clip: text;
    -webkit-text-fill-linear-gradient:(#5349a2, #562461);color: transparent;
}
.hero p{
    width:50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap:25px;
    font-weight:500 ;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(#5349a2, #562461);
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid #fff ;
}

.hero-resume {
    padding: 25px 45px;
    border-radius: 50px;
    border: 2px solid #fff ;
    cursor: pointer;

}
.hero-resume:hover{
    border: 2px solid var(--secondary) ;
}
