:root{
--text: #e8e6f6;
--background: #090817;
--primary: #5349a2;
--secondary: #562461;
--accent: #b25fc9;
}


*{
    margin:0;
    padding: 0;
}
body{
    height: 100vh;
    /* background: #161513;  */
    background: var(--background);
    color: var(--text);
    background-image: url("https://www.transparenttextures.com/patterns/buried.png");

    /* color: white; */
    font-family: 'outfit';
}